spring:
  profiles:
    active: local # 기본 환경 선택
# local 환경
---  # 이 세 (---) 를 기준으로 상단은 공통 영역 하단은 각 profile의 설정 영역임
# 공통영역(위)의 값은 각 profile 환경에 동일한 설정이 있으면 무시됨! 없다면 공통영역의 설정값이 사용됨
# 그러므로 공통영역에 설정값을 넣는것에는 굉장한 주의가 필요함
# 이때문에 datasource, table 등과 같은 옵션들은 공통영역에는 두지 않고 각 profile마다 별도로 두는것을 추천함
spring:
  profiles: local
  datasource:
    data: classpath:data-h2.sql # 시작할때 실행시킬 script
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
# 운영 환경
---
spring:
  profiles: set1
server:
  port: 8081

---
spring:
  profiles: set2

server:
  port: 8082
