<!DOCTYPE HTML>
<html>
<head>
    <title>PWMW</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<br>
<h1 style="text-align: center">세상을 이롭게 하는 사람들</h1>
<h2 style="text-align: center">People Who Make the better World</h2>
</br>
</br>
</br>

<!-- 회원가입 영역 -->
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="userid" placeholder="ID"> <!-- 유저 아이디 -->
        </div>
        <div class="form-group">
            <label for="author"> 비밀번호 </label>
            <input type="password" class="form-control" id="passwd" placeholder="작성자를 입력하세요"><!-- 비밀번호  2번 확인-->
        </div>
        <div class="form-group">
            <label for="author"> 비밀번호 확인 </label>
            <input type="password" class="form-control" id="passwd" placeholder="작성자를 입력하세요"><!-- 비밀번호  2번 확인-->
        </div>
        <div class="form-group">
            <label for="content"> 이메일 </label>
            <input type="email" class="form-control" id="email" placeholder="내용을 입력하세요">
        </div>
    </form>
</div>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/main.js"></script>

</body>
</html>